# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules
vendor

# Laravel
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Storage and logs
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/.gitkeep
!storage/logs/.gitkeep

# Testing
.phpunit.cache
coverage

# Build artifacts
public/hot
public/storage
public/build

